<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>BAC GIANG FARM</title>


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
    integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/style.css" />
</head>

<body>
  <div class="header">
    <nav class="navbar navbar-expand-md navbar-dark " style="background-color: #0e1310;opacity: 0.7;">
      <a class="navbar-brand" href="#"><img src="../assets/images/header-logo.png" alt=""></a>
      <!-- <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button> -->
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 d-float float-left ">
          <li class="nav-item active">
            <a class="nav-link" href="#">TRANG TIN <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">NÔNG SẢN</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">GIỎ HÀNG</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">THÚY TRẦN</a>
          </li>
          <li>
            <i class="fa fa-user active fa-1" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="maincontent">
    <div class="container mt-5">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li><a href="#"><i class="fas fa-home"></i></a></li>
          <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
          <li class="breadcrumb-item"><a href="#">Nông Sản</a></li>
          <li class="breadcrumb-item active" aria-current="page">Rượu Làng Vân</li>
        </ol>
      </nav>
      <div class="row mt-5">
        <div class="col-md-6">
          <img src="https://loremflickr.com/500/350" />
        </div>
        <div class="col-md-6">
          <h1 class="text-primary">Rượu Làng Vân</h1>
          <h4 class="text-muted">Được bán bởi: Thuý Trần(Đại lý)</h4>
          <h4 class="text-muted">Giá:</h4>
          <div class="price d-flex">
            <div class="price-product">
              <h1 class="text-success font-weight-bold">100,000</h1>
            </div>
            <div class="price-text mt-3 ml-3">
              <h5 class="text-muted">VND</h5>
            </div>
          </div>
          <h4 class="text-muted">Chọn số lượng:</h4>
          <div class="count text-muted d-flex mt-3">
            <div class="add mr-3">
              <h1 class="border text-center" style="width: 40px;height: 40px;line-height: 30px">+</h1>
            </div>
            <div class="number mr-3">
              <h3 class="border text-center" style="width: 60px;height: 40px;line-height: 40px">1</h3>
            </div>
            <div class="discount mr-3">
              <h1 class="border text-center" style="width: 40px;height: 40px;line-height: 30px">-</h1>
            </div>
            <div class="text">
              <h4>(lít)</h4>
            </div>
          </div>
          <button type="button" class="btn btn-success mt-3 btn-block"
            style="width: 400px; height: 55px;font-size: 30px">THÊM VÀO GIỎ HÀNG</button>

        </div>

      </div>
      <div class="discription">
        <h3 class="text-muted text-center p-5">MÔ TẢ SẢN PHẨM</h3>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-logo">
          <img src="../assets/images/footer-logo.png" alt="" />
        </div>
        <div class="col-md-4 about">
          <div class="row">
            <p>BACGIANGFARM</p>
          </div>
          <div class="row">
            <a href="#">Giới thiệu</a>
            <a href="#">Chính sách</a>
          </div>
        </div>
        <div class="col-md-4 footer-follow">
          <div class="row">
            <p>FOLLOW US</p>
          </div>
          <div class="row">
            <div class="footer-top-icons">
              <a href="#"><i class="fab fa-facebook    "></i></a>
              <a href="#"><i class="fab fa-google-plus    "></i></a>
              <a href="#"><i class="fab fa-twitter    "></i></a>
              <a href="#"><i class="fab fa-linkedin    "></i></a>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-bottom d-flex p-auto justify-content-around align-items-center">
          <p>Liên hệ:</p>
          <i class="fa fa-phone" aria-hidden="true"> 0972513172</i>
          <i class="fa fa-envelope-open" aria-hidden="true"> thuytranbn@hotmail.com</i>
        </div>
      </div>
    </div>
  </div>
</body>

</html>