<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>BAC GIANG FARM</title>


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
    integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/style.css" />
</head>

<body>
  <div class="header">
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #0e1310;opacity: 0.7;">
      <a class="navbar-brand" href="#"><img src="../assets/images/header-logo.png" alt=""></a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
          <li class="nav-item active">
            <a class="nav-link" href="#">TRANG TIN <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">NÔNG SẢN</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">GIỎ HÀNG</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">THÚY TRẦN</a>
          </li>
          <li>
            <i class="fa fa-user active" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="maincontent">
    <div class="container">
      <div class="row">
        <i class="fa fa-home" aria-hidden="true">Trang chủ</i>
      </div>
      <h2 class="text-center">Tin Mới</h2>
      <div class="row">
        <div class="news-content col-md-4 wrap">
          <img src="../assets/images/news1.png" alt="" />
          <h5>Nên chọn loại cám nào cho gà</h5>
          <p>
            Trên thị trường hiện nay có rất nhiều loại cám gà, chọn loại nào
            thì phù hợp với độ tuổi và giống gà của bà con...
          </p>
        </div>
        <div class="news-content col-md-4 wrap">
          <img src="../assets/images/news2.png" alt="" />
          <h5>Thời điểm thích hợp diệt sâu cho cà chua</h5>
          <p>
            Không nên phun thuốc trừ sâu vô tội vã để tránh gây nên sự tụ
            độc cho cà chua. Cần chọn thời đúng thời điểm để diệt sâu...
          </p>
        </div>
        <div class="news-content col-md-4 wrap">
          <img src="../assets/images/news3.png" alt="" />
          <h5>Bắp cải vào mùa thu hoạch</h5>
          <p>
            Hàng loạt các ruộng bắp cải của người dân bắt đầu vào vụ mùa thu
            hoạch Có nên lo lắng về giá?...
          </p>
        </div>
        <div class="news-content col-md-4 wrap">
          <img src="../assets/images/news4.png" alt="" />
          <h5>Nên chọn loại cám nào cho gà</h5>
          <p>
            Trên thị trường hiện nay có rất nhiều loại cám gà, chọn loại nào
            thì phù hợp với độ tuổi và giống gà của bà con...
          </p>
        </div>
        <div class="news-content col-md-4 wrap">
          <img src="../assets/images/news5.png" alt="" />
          <h5>Nên chọn loại cám nào cho gà</h5>
          <p>
            Trên thị trường hiện nay có rất nhiều loại cám gà, chọn loại nào
            thì phù hợp với độ tuổi và giống gà của bà con...
          </p>
        </div>
        <div class="news-content col-md-4 wrap">
          <img src="../assets/images/news6.png" alt="" />
          <h5>Nên chọn loại cám nào cho gà</h5>
          <p>
            Trên thị trường hiện nay có rất nhiều loại cám gà, chọn loại nào
            thì phù hợp với độ tuổi và giống gà của bà con...
          </p>
        </div>
      </div>
      <a href="#"><span>Xem Thêm</span></a>

    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-logo">
          <img src="../assets/images/footer-logo.png" alt="" />
        </div>
        <div class="col-md-4 about">
          <div class="row">
            <p>BACGIANGFARM</p>
          </div>
          <div class="row">
            <a href="#">Giới thiệu</a>
            <a href="#">Chính sách</a>
          </div>
        </div>
        <div class="col-md-4 footer-follow">
          <div class="row">
            <p>FOLLOW US</p>
          </div>
          <div class="row">
            <div class="footer-top-icons">
              <a href="#"><i class="fab fa-facebook    "></i></a>
              <a href="#"><i class="fab fa-google-plus    "></i></a>
              <a href="#"><i class="fab fa-twitter    "></i></a>
              <a href="#"><i class="fab fa-linkedin    "></i></a>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer-bottom d-flex p-auto justify-content-around align-items-center">
          <p>Liên hệ:</p>
          <i class="fa fa-phone" aria-hidden="true"> 0972513172</i>
          <i class="fa fa-envelope-open" aria-hidden="true"> thuytranbn@hotmail.com</i>
        </div>
      </div>
    </div>
  </div>
</body>

</html>